@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  height: 100vh;
  background: rgb(12, 12, 12);
  color: rgb(228, 228, 228);
}

.portrait {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  padding: 0.5rem;
}

p {
  text-align: justify;
  font-size: 15px;
  word-spacing: -1px;
  line-height: 12px;
  background: url(default.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.096);
}

.hide {
  display: none;
}

.edit-form {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.form-group {
  display: flex;
  flex-flow: column;
}

.form-group label {
  margin-bottom: 0.2rem;
}

.form-group textarea,
.form-group input {
  border: none;
  padding: 0.5rem;
}

.form-group textarea:focus {
  outline: 2px solid rgb(23, 117, 89);
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(23, 117, 89);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 2rem 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.button-5.disabled {
  filter: brightness(50%);
}

.button-5.disabled:hover,
.button-5.disabled:focus {
  background-color: rgb(23, 117, 89);
  transform: translateY(0);
}

.container {
  width: 100%;
  max-width: 40rem;
}

.panel {
  margin: 100px auto 40px;
  max-width: 500px;
  text-align: center;
}

.button_outer {
  background: rgb(23, 117, 89);
  border-radius: 30px;
  text-align: center;
  height: 50px;
  width: 200px;
  display: inline-block;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

.btn_upload {
  padding: 17px 30px 12px;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  white-space: nowrap;
}

.btn_upload input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  cursor: pointer;
  opacity: 0;
}

.file_uploading {
  width: 100%;
  height: 10px;
  margin-top: 20px;
  background: #ccc;
}
.file_uploading .btn_upload {
  display: none;
}

.processing_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background: rgb(23, 117, 89);
  transition: 3s;
}

.file_uploading .processing_bar {
  width: 100%;
}

.success_box {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
.success_box:before {
  content: '';
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 17px;
  top: 10px;
}
.file_uploaded .success_box {
  display: inline-block;
}
.file_uploaded {
  margin-top: 0;
  width: 50px;
  background: rgb(23, 117, 89);
  height: 50px;
}
.uploaded_file_view {
  max-width: 300px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  transition: 0.2s;
  opacity: 0;
  border: 2px solid #ddd;
  padding: 15px;
}
.file_remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: #aaa;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  right: -15px;
  top: -15px;
}
.file_remove:hover {
  background: #222;
  transition: 0.2s;
}
.uploaded_file_view img {
  max-width: 100%;
}
.uploaded_file_view.show {
  opacity: 1;
}
.error_msg {
  text-align: center;
  color: #f00;
}
